!package-lock.json
!package.json
!mongodb.env
.env
node_modules/.package-lock.json

# Node.js dependencies
node_modules/

# Environment files
.env

# VSCode settings
.vscode/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# npm packages
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# format testing
front_end/src/pages/tamago.html
