body
{
    background-color:#FEFAE0;
}

h1
{
    color:#1F2040;
    font-family: "Modak", "Iansui", "sans-serif";
    font-weight:100;
    font-style: normal;
    font-size:72pt;
    margin: 60px 12px 42px;
    padding: 0px;
    line-height: 10px;
}

p
{
    color:#1F2040;
    font-family: "Iansui", "sans-serif";
    font-weight: 800;
    font-style: normal;
    font-size:16pt;
}

.PetButton
{
    background-color: transparent;
    border-radius: 500px;
    border-color: transparent;
}

#PetImage
{
    height: 200;
    animation-name: rocking;
    animation-duration: 1.75s;
    animation-play-state: paused;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes rocking{
    33%{transform: rotateZ(-6deg)}
    66%{transform: rotateZ(6deg)}
    100%{transform: rotateZ(0deg)}
}