body
{
    background-color:#FEFAE0;
}

h1
{
    color:#1F2040;
    font-family: "Modak", "Iansui", "sans-serif";
    font-weight:100;
    font-style: normal;
    font-size:72pt;
    margin: 60px 12px 42px;
    padding: 0px;
    line-height: 10px;
}

p
{
    color:#1F2040;
    font-family: "Iansui", "sans-serif";
    font-weight: 800;
    font-style: normal;
    font-size:16pt;
}

.TamagoTitle
{
    color:#1F2040;
    font-family: "Modak", "Iansui", "sans-serif";
    font-weight:10;
    font-style: normal;
    font-size:42pt;
    margin: 42px 12px 32px;
    padding: 0px;
    line-height: 10px;
}

.TamagoSubtitle
{
    color:#1F2040;
    font-family: "Iansui", "sans-serif";
    font-weight: 800;
    font-style: normal;
    font-size:16pt;
}

.icon
{
    box-sizing: border-box;
    display: block;
    width: 60px;
    height: auto;
    padding: 2px;
}

.nav
{
    box-sizing: border-box;
    background-color: #DDA15E;
    color: #FEFAE0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.nav ul
{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a
{
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active {
    background-color: #DDA15E;
}

.nav li:hover {
    background-color: #5C415D;
    border-radius: 20%;
}



.PetEnviroment
{
    border-style: solid;
    border-radius: 15px;
    border-color: #DDA15E;

    height: 700;
    width: 600;
    position: relative;
}

.PetButton
{
    background-color: transparent;
    border-radius: 500px;
    border-color: transparent;
    position: absolute;
    top: 400px;
    left: 175px;
    
}

#PetImage
{
    height: 200;
    animation-name: rocking;
    animation-duration: 1.75s;
    animation-play-state: paused;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes rocking{
    0%{transform: rotateZ(0deg)}
    33%{transform: rotateZ(-6deg)}
    66%{transform: rotateZ(6deg)}
    100%{transform: rotateZ(0deg)}
}

.loginSignupPage {
    font-family: "Iansui", "sans-serif";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column; 
}

.loginSignupContainer {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    box-sizing: border-box;
    margin-top: 70px; 
}

.loginSignupContainer h2 {
    margin-bottom: 40px;
    font-size: 36px;
    text-align: center;
}

.loginSignupContainer input[type="text"],
.loginSignupContainer input[type="email"] {
    width: 100%; 
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

.loginSignupContainer button {
    font-family: "Iansui", "sans-serif";
    width: 100%; 
    padding: 10px;
    background-color: #B49CEF; 
    border: none;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box; 
}

.loginSignupContainer button:hover {
    background-color: #8d79be; 
}

.loginSignupLink {
    text-align: center;
    margin-top: 10px;
}

.loginSignupLink a {
    color: #B49CEF;
    text-decoration: none;
}

.loginSignupLink a:hover {
    text-decoration: underline;
}

.passwordContainer {
    position: relative;
    width: 100%;
}

.passwordContainer input[type="password"],
.passwordContainer input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: inherit;
    padding-right: 40px; 
}


.togglePassword {
    position: absolute;
    right: 10px;
    top: 38%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #777;
}

.togglePassword {
    color: #333;
}
